/* basic elements */
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
    line-height: 1.58889;
    color: #3A3A3A;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    text-align: justify;
}
em {
  line-height: 1.1em;
  font-size: 1.1em;
  padding-left: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: georgia, Arial, serif;
}

h1,h2 {
    font-weight: normal;
    font-size: 45px;
    font-family: georgia, Arial, serif;
    line-height: 45px;
}
h2 {
    color: #006633;
}
h3 {
    margin-top: 0px;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: #006633;
}
table,
td,
th {
    border: 1px solid #3a3a3a;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
table { width: 95% }
th {
    background-color: #3a3a3a;
    color: #e8e6e6;
}
tr:hover { background-color: #f4f6bf }
a:link {
    text-decoration: underline;
    color: #006633;
}
a:visited {
    text-decoration: underline;
    color: #018141;
}
a:hover,
a:active {
    text-decoration: none;
    color: #018141;
}
/* specific divs */
#container {
    min-height: 100%;
    position: relative;
}
#header {
    background: #3a3a3a;
    margin: 0 auto;
    padding: 10px 110px;
}
#header h1 {
    font-family: 'Merienda One', cursive;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    color: #DDDDDD;
    padding-top: 0;
}
#nav {
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #DDDDDD;
    background: #3a3a3a;
    margin: 0 auto;
    padding: 10px 100px;
}
#nav  a,
.loginbox a,
.loginbox input[type="submit"] {
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: content-box !important;
    color: #DDDDDD;
    cursor: pointer;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    Text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
    text-decoration: none;
    font-size: 12px;
    white-space: normal;
    outline: none;
    /* Transition */
    -moz-transition: all 200ms ease 0ms !important;
    -o-transition: all 200ms ease 0ms !important;
    -webkit-transition: all 200ms ease 0ms !important;
    /* Background Color */
    background: none repeat scroll 0 0 rgba(255,255,255,0.04);
    /* Border Rounding */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /* Background Clipping */
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    /* Shadow */
    box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
    box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}
.loginbox input[type="submit"] { width: 60px }
#nav a:hover,
.loginbox a, .loginbox input[type="submit"]:hover {
    color: #DDDDDD;
    text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
    /* Shadow */
    box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}
#nav  a:active,
.loginbox a {
    color: #eee;
    /* Shadow */
    box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
    -moz-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
}
#main {
    min-height: 350px;
    margin: 0 auto;
    padding: 10px 100px;
    /* background: #FAFBE3; */
}
.main-single {
    overflow: hidden;
    padding: 5px 5px;
}
.main-left {
    overflow: hidden;
    float: left;
    /* width: 570px; */
    padding: 5px 300px 5px 5px;
}
.main-right {
    overflow: hidden;
    position: absolute;
    right: 10px;
    width: 300px;
    padding: 5px 5px;
    display: block;
}
#story-text {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: 99ffaa;
}
#footer {
    padding: 0 150px 0px 150px;
    clear: both;
    color: #DDDDDD;
    background: #3a3a3a;
}
.loginbox {
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: content-box !important;
    color: #DDDDDD;
    display: inline-block;
    padding: 6px 6px 0px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    white-space: normal;
    outline: none;
    width: 230px;
    /* Transition */
    -moz-transition: all 200ms ease 0ms !important;
    -o-transition: all 200ms ease 0ms !important;
    -webkit-transition: all 200ms ease 0ms !important;
    /* Background Color */
    background: none repeat scroll 0 0 rgba(255,255,255,0.04);
    /* Border Rounding */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /* Background Clipping */
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    /* Shadow */
    box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
    box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    float: right;
    position: relative;
}
#username-inputbox {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    text-shadow: none;
    background: none;
    text-decoration: underline;
}
.loginbox input { color: #000 }
.loginbox label {
    display: inline-block;
    overflow: auto;
    width: 100%;
    margin: 3px;
}
.loginbox label input {
    float: none;
    width: 100px;
    margin-left: 30px;
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 3px 3px;
    background-color: #f5f5f5;
    /* box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); */
}
.loginbox img {
    float: left;
    margin-right: 10px;
}
.loginbox p { text-align: right }
.error-message { border: 0px solid red }
.authorname {
    color: #dad5d5;
    font-style: italic;
}
.authorname:hover { color: #3A3A3A }
.main-right {
    overflow: hidden;
    float: right;
    width: 300px;
    padding: 5px 5px;
}
label {
    width: 560px;
    display: block;
    margin: 10px;
}
/* form elements - text entry */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="search"] {
    width: 80%;
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 6px 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}
input[type="select"] {
    width: 80%;
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 6px 6px;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}
textarea {
    width: 80%;
    min-height: 100px;
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 6px 6px;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}
input[type="radio"],
input[type="checkbox"] { }
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: content-box !important;
    color: #3A3A3A;
    cursor: pointer;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    white-space: normal;
    outline: none;
    /* Transition */
    -moz-transition: all 200ms ease 0ms !important;
    -o-transition: all 200ms ease 0ms !important;
    -webkit-transition: all 200ms ease 0ms !important;
    /* Background Color */
    background: none repeat scroll 0 0 rgba(255,255,255,0.04);
    /* Border Rounding */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /* Background Clipping */
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    /* Shadow */
    box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
    box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover {
    color: #3A3A3A;
    text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
    /* Shadow */
    box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:active {
    color: #3a3A3A;
    /* Shadow */
    box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
    -moz-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
    -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
}
/* Javascript responsiveness styles*/
.invalid-input { border-color: red !important }
.valid-input { border-color: green !important }
/* tooltip css
   TODO: delete old tooltip stuff */
.tooltip {
    position: absolute;
    border: 3px solid red;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 29px;
}
/* spelling suggestions */
.spelling { width: 560px }
.spelling dt,
.spelling dd { display: inline-block }
.spelling dt {
    width: 100px;
    font-weight: bold;
}
.spelling dd {
    width: 450px;
    -webkit-margin-start: 0px;
}
.spelling dd a { margin-right: 10px }

.error_slidedown {
        color: #7C7373;
        border: 2px solid #727272;
        cursor: help;
        -webkit-animation: notice 2s infinite alternate;
}

@-webkit-keyframes notice /* Safari and Chrome */ {
	from { background: transparent }
	to {
	    background: #303030;
	    box-shadow: 0 0 200px #303030;
	}
}
/* Support for displaying story trees. */
.story_group {
    display: inline-block;
    padding: 6px;
    vertical-align: top;
    white-space: nowrap;
}
.story_text_container {
    text-align: center;
    border-bottom: solid thin rgba(100,100,100,0.5);
    border-left: solid thin rgba(100,100,100,0.3);
    max-width: 500px;
    padding: 5px;
    white-space: normal;
}
.story_text {
    background: rgba(100,100,100,0.1);
    border: solid thin rgba(100,100,100,0.1);
    padding: 14px;
    text-align: center;
    display: inline-block;
}
