/* basic elements */

html {
	margin: 0;
	padding: 0;
	}
body { 
	font-family: 'Arimo', sans-serif;  
	line-height: 1.88889;
	color: #3A3A3A; 
	background: #E8E6E6; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h1 { 
    margin-top: 0;
	font-family: 'Arimo', cursive;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #006633;
	}
h2 { 
    margin-top: 0;
	font-family: 'Arimo', sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #006633;
	}
h3 { 
    margin-top: 0;
	font-family: 'Arimo', sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #006633;
	}
    
table, td, th {
    border:1px solid #3a3a3a;
    border-collapse:collapse;
    }
th {
    background-color: #3a3a3a;
    color:#e8e6e6;
    }
tr:hover {
    background-color: #f4f6bf;
    }

a:link { 
	font-weight: bold; 
	text-decoration: underline; 
	color: #006633;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: underline; 
	color: #018141;
	}
a:hover, a:active { 
	text-decoration: none; 
	color: #018141;
	}

/* specific divs */

#container {
    min-height:100%;
    position:relative;
    }

#header {
	border: 0px solid green;
    margin-top: 0px;
	padding: 5px 5px 5px 15px;
	background: #3a3a3a;
    }

#header h1{
    font-family: 'Merienda One', cursive;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    margin-top: 0;
	color: #DDDDDD;
    padding-top: 0px;
    }
#nav {
	border: 0px solid black;
	padding: 5px;
    letter-spacing: 1px; 
	margin-bottom: 0; 
    color: #DDDDDD;
	background-image: linear-gradient(bottom, rgb(0,102,51) 39%, rgb(58,58,58) 70%, rgb(58,58,58) 85%);
	background-image: -o-linear-gradient(bottom, rgb(0,102,51) 39%, rgb(58,58,58) 70%, rgb(58,58,58) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(0,102,51) 39%, rgb(58,58,58) 70%, rgb(58,58,58) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,102,51) 39%, rgb(58,58,58) 70%, rgb(58,58,58) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(0,102,51) 39%, rgb(58,58,58) 70%, rgb(58,58,58) 85%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.39, rgb(0,102,51)),
		color-stop(0.7, rgb(58,58,58)),
		color-stop(0.85, rgb(58,58,58))
    );
    }

#nav  a,
.loginbox a,
.loginbox input[type="submit"]{
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	color: #DDDDDD;
	cursor: pointer;
	display: inline-block;
	padding: 6px 10px;
	text-align: center;
	Text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	text-decoration: none;
	font-size: 12px;
	white-space: normal;
	outline: none; 

	/* Transition */
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;

	/* Background Color */
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);

	/* Border Rounding */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	/* Background Clipping */
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	
	/* Shadow */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    }

#nav  a:hover,
.loginbox a{
	color: #DDDDDD;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	
	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    }

#nav  a:active,
.loginbox a {
	color: #eee;

	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
    }

#main {
    min-height:350px;
	margin: 15px auto 60px;
	padding: 15px 15px 15px 15px;
    background: #FAFBE3; 
    overflow: auto;
    width:900px;
    }

.main-single {
	overflow: hidden;
    width:870px;
    padding: 5px 5px;
    }
    
.main-left  {
	overflow: hidden;
    float:left;
    width:570px;
    padding: 5px 5px;
    }

.main-right {
    overflow: hidden;
    float:right;
    width:300px;
    padding: 5px 5px;
    } 
    
#story-text {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
    background: 99ffaa;
    }

#footer {
    padding: 5px 15px 5px 15px;
	clear: both;
    color: #DDDDDD;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
	background-image: linear-gradient(bottom, rgb(58,58,58) 39%, rgb(0,102,51) 70%, rgb(0,102,51) 85%);
	background-image: -o-linear-gradient(bottom, rgb(58,58,58) 39%, rgb(0,102,51) 70%, rgb(0,102,51) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(58,58,58) 39%, rgb(0,102,51) 70%, rgb(0,102,51) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(58,58,58) 39%, rgb(0,102,51) 70%, rgb(0,102,51) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(58,58,58) 39%, rgb(0,102,51) 70%, rgb(0,102,51) 85%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.39, rgb(58,58,58)),
		color-stop(0.7, rgb(0,102,51)),
		color-stop(0.85, rgb(0,102,51))
	);
    }

.loginbox {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	color: #DDDDDD;
	display: inline-block;
	padding: 6px 6px 0px 6px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	white-space: normal;
	outline: none; 

	/* Transition */
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;

	/* Background Color */
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);

	/* Border Rounding */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	/* Background Clipping */
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	
	/* Shadow */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	
	float: right; 

    position: relative;
    }

.loginbox input {
  color: #000;
}

.loginbox label {
    display: block;
	overflow: auto;
	width: 100%
    }

.loginbox label input {
    float: none;
    width:100px;
    margin-left: 30px;
    border-radius: 2px;
    border: solid 1px #ccc;
	padding: 6px 6px;
    background-color: #f5f5f5;
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);*/
    }

.error-message {
    border: 0px solid red;
    }
    
.main-left  {
	overflow: hidden;
    float:left;
    width:570px;
    padding: 5px 5px;
}

.main-right {
    overflow: hidden;
    float:right;
    width:300px;
    padding: 5px 5px;
} 

label{
    width:560px;
    display:block;
    }
    
/* form elements - text entry */
input[type="text"],
input[type="password"],
input[type="search"]
textarea {
    float:right;
    clear:both;
    width:400px;
    border-radius:2px;
    border: solid 1px #ccc;
	padding: 6px 10px;
    background-color: #f5f5f5;
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);*/
    }

input[type="select"],
textarea {
    min-width:100px;
    border-radius:2px;
    border: solid 1px #ccc;
	padding: 6px 6px;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    }

input[type="radio"],input[type="checkbox"] {
    
    }


input[type="button"],
input[type="reset"],
input[type="submit"]
 {	
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	color: #3A3A3A;
	cursor: pointer;
	display: inline-block;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	white-space: normal;
	outline: none; 

	/* Transition */
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;

	/* Background Color */
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);

	/* Border Rounding */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	/* Background Clipping */
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	
	/* Shadow */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    }


input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover
 {	
	color: #3A3A3A;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	
	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
    }


input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active
 {	
	color: #3a3A3A;

	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
    }

/* Javascript responsiveness styles*/
.invalid-input {
    border-color: red !important;
}
.valid-input {
    border-color: green !important;
}

/* tooltip css
   TODO: delete old tooltip stuff */
.tooltip {
    position: absolute;
    border: 3px solid red;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 29px;
}