{% include "header.html" %}
<div class="main-single">
    <h1>Credits, or who did the work</h1>
    <h3>Intro</h3>    
    <p>
        This website was created between the 5th and the 14th of December 2013 by a group of Australian high-schoolers during the
        <a href="http://ncss.edu.au/summer_school/index.html">
            National Computer Science School
        </a>
         2013.
     </p>

    <h3>Who did what</h3>
    <h4>Tutors/Mentors</h4>
    <ul>
        <li>Dr. James Curran</li>
        <li>Nicky Ringland</li>
        <li>Tim Dawborn</li>
        <li>Will Cannings</li>
        <li>Georgina Wilcox</li>
        <li>Joel Gibson</li>
        <li>Jeshua Morrissey</li>
        <li>Joe Godbehere</li>
    </ul>

    <h4>Database API</h4>
    <ul>
        <li>Nicholas Verstegen</li>
        <li>Melissa McKeogh</li>
        <li>Alex Mueller</li>
        <li title="Last name?">Jess</li>
    </ul>
    <h4>Template engine</h3>
    <ul>
        <li>James Payor</li>
        <li>Dominic May</li>
    </ul> 

    <h4>HTML &amp; CSS </h4>
    <ul>
        <li>Suzi Archer</li>
        <li>Joshua Hall</li>
    </ul>

    <h4>Javascript</h4>
    <ul>
        <li>Matthew Heath</li>
        <li>Thomas Selvaraj</li>
    </ul>

    <h4>Integration/Implementation</h4>
    <ul>
        <li>Lauren Gee</li>
        <li>Shannon Rothe</li>
        <li>Waseem *</li>
    </ul>

    <h4>Public Relations/Marketing</h4>
    <ul>
        <li>Sophie Wheeler</li>
        <li>Hannah Clifton</li>
    </ul>

    <h4>Brainstorming/Ideas</h4>
    <ul>
        <li>All of the above</li>
        <li>Alvin *</li>
    </ul>

    <h4>Search Engine</h4>
    <ul>
        <li>Dominic May</li>
        <li>Will Cannings</li>
    </ul>
</div>
{% include "footer.html" %}
