<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <!--<link rel='stylesheet' href='/static/css/reset.css' type='text/css'>-->
        <link rel='stylesheet' href='/static/css/stylesheet.css' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="/static/js/spec_error.js"></script>
        <script src="/static/js/utility.js"></script>
        <title>
            Forking Stories
        </title>
    </head>
    <body>
<div id="container"> <!-- this is opening the container div that is closed in footer -->
   <div id="header">
        {% if current_user is None %}
            <div class='loginbox'>
                <form action="/authenticate" method="POST" autocomplete='off'>
                    <label>Username: <input type='text' name="username" id="username" class='loginbox' placeholder='Username' required></label>
                    <label>Password: <input type='password' name="password" id="password" class='loginbox' placeholder='Password' required></label>
                    <input type='submit' class='loginbox' value='Login'>
                    <input type="submit" class="loginbox" value="Register" onClick="document.location = '/register';">
                </form>
            </div>
        {% else %}
            <div class='loginbox'>
                <img src='{% gravatar current_user.email %}'>
                <p>Welcome <a id="username-inputbox" href='/user/{{current_user.username}}'>{{current_user.username}}</a></p>
                <p><a href='/logout'>Logout</a> </p>
            </div>
        {% endif %}
        <h1>Forking Stories</h1>
    </div>
    <div id="nav">
        <a href="/">Home</a>
        <a href="/profiles">User Profiles</a>
        <a href="/search">Search Stories</a>
        {% if current_user is not None %}
            <a href='/new_story'>Create a Story</a>
			<!-- <a href='/add_to_stories'>Add to a Story</a>
            <a href="/view_story">View Story</a>  -->
            <a href='{{"/user/{}".format(current_user.username)}}'>My Profile</a>
        {% endif %}
   </div>
   <div id="main"><!-- this is opening the main div that is closed in footer -->
        {% ifdef error %}{% if error %}<div class="error_slidedown">{% safe error %}</div>{% endif %}{% endif %}
