<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/static/css/stylesheet.css' type='text/css'>
        <title>
            Forking Stories 
        </title>
    </head>
    <body>
<div id="container"> <!-- this is opening the container div that is closed in footer -->
   <div id="header">
        {% if current_user is None %}
            <div class='loginbox'>
                <form action="/authenticate" method="POST">
                    <label>Username: <input type='text' name="username" id="username" class='loginbox' placeholder='Username'></label>
                    <label>Password: <input type='password' name="password" id="password" class='loginbox' placeholder='Password'></label>
                    <input type='submit' class='loginbox' value='Login'>
                </form>
                <a href='/register'>Create an account</a>
            </div>
        {% else %}
            <div class='loginbox'>
                <p>Welcome {{"<a href='/user/{}'>{}</a>!".format(current_user.username,current_user.username)}}</p>
                <p><a href='/logout'>Logout</a> </p>
            </div>
        {% endif %}
        <h1>Forking Stories</h1>
    </div>
    <div id="nav">
        <a href="/">Home</a>  
        <a href="/profiles">User Profiles</a>  
        <a href="/view_story_list">View Story list</a>   
        {% if current_user is not None %}
            <a href='/new_story'>Create a Story</a>
			<!-- <a href='/add_to_stories'>Add to a Story</a>
            <a href="/view_story">View Story</a>  -->
            <a href='{{"/user/{}".format(current_user.username)}}'>My Profile</a>	
        {% endif %}
   </div>
   <div id="main"><!-- this is opening the main div that is closed in footer -->
