{% include "header.html" %}
<div class="main-single">
    <h1>Building collaborative works of literary art</h1>
    <p><em>Forking Stories is a place for budding storywriters to try their hand at creating a collaborative masterpiece.</em></p>
    <p>Hosts submit a story beginning, and sets some rules to make the task more challenging. Collaborators add to the story, 
    creating forks, (diverging paths) to whole new stories.</p>
		<p>Not feeling inspired today? Make your mark by voting for the best submissions submitted, and help build the story!</p>
    </span>
    <h2>forking</h2>
    <h3>Verb: (esp. of a road or other route)</h3>
    <p>Divide into two parts: "the place where the road forks".</p>
    <img src="/static/images/fork-in-the-road.png">
</div>
{% include "footer.html" %}
