{% include "header.html" %}
<article id='intro'>
    <h2>Building collaborative works of literary art</h2>
</article>
<div>
    <span>
        <p>Forking Stories is a place for budding storywriters to try their hand at creating a collaborative masterpiece. </p>
		<p>Not feeling inspired today ? Make your mark by voting for the best submissions submitted, and help build the story</p>
    </span>
    
    <!-- this stuff isn't valid (yet ? ) 
    <div>

    </div>
    -->
</div>
{% include "footer.html" %}