{% include "header.html"%}
<article>
   <h2> 
        Create a Story! 
    </h2>
    <form>
        <div>
            <label>
                Title:
                <input type='text' placeholder='Enter your title' name='title'>
                <br>
            </label>
            <label>
                <textarea placeholder='Start your story here!' name='storyintro'></textarea>
                <br>
            </label>
            <label>
                Challenge Rules:
                <select name='ruleoption'>
                    <option>
                        Rule 1
                    </option>
                    <option>
                        Rule 2
                    </option>
                    <option>
                        Rule 3
                    </option>
                </select>
                <br>
            </label>
                <textarea placeholder="Host's Comments" name='authorscomment'></textarea>
                <br>
            <input type='submit' value='Create a Story!'>
        </div>
    </form>
</article>
{% include "footer.html"%}                   
                
                    