{% include "header.html"%}
{% if current_user is not None %}
    <div class="main-single">
       <h2> 
            Create a Story! 
        </h2>
        <form action="/process_new_story" method="POST">
            <div>
                <label>
                    Title:
                    <input type='text' placeholder='Enter your title' name='title' required>
                    <br>
                </label>
                <label>
                    <textarea id="story" placeholder='Start your story here!' name='story' required></textarea>
                    <button id="check-story">Check Spelling</button>
                    <div id="spelling-result"></div>
<script type="text/javascript">
var button = $('#check-story');
button.click(function() {
    var story = $('#story');

    $.ajax('/spellcheck', {
            type: 'POST',
            data: {
                text: story.attr('value')
            },
            success: function(value) {
                if (typeof value == 'string') {
                    value = JSON.parse(value);
                }
                var html = "<dl class='spelling'>";
                for (var k in value) {
                    html += '<dt>' + k + '</dt><dd>';
                    for (var i in value[k]) {
                        html += "<a href='#'>" + value[k][i] + "</a>";
                    }
                }
                html += "</dl>";
                $('#spelling-result').html(html);
            }
    });
    return false;
});

var replace_word = function(from, to) {
    $('#story').val($('#story').val().replace(from, to));
};

$(document).on('click', '.spelling dd a', function(event) {
    var to = $(event.target).html();
    var from = $(event.target).closest('dd').prev().html();
    replace_word(from, to);
    $(event.target).closest('dd').hide();
    $(event.target).closest('dd').prev().hide();
});
</script>
                    <br>
                </label>
                <label>
                    Challenge Rules:
                    <select name='rule'>
                        <option>
                            Rule 1
                        </option>
                        <option>
                            Rule 2
                        </option>
                        <option>
                            Rule 3
                        </option>
                    </select>
                    <br>
                </label>
                    <textarea placeholder="Host's Comments" name='comment' required></textarea>
                    <br>
                <input type='submit' value='Create a Story!'>
            </div>
        </form>
    </div>
{% else %}
    <div class="main-single">
        <p>You need to be logged in to create a new story. <a href="/register">Register now!</a></p>
    </div>
{% endif %}
{% include "footer.html"%}                   