{% include "header.html"%}
{% if current_user is not None %}
    <div class="main-single">
       <h2>Create a Story!</h2>
       <section>
         <form action="/process_new_story" method="POST" encoding='utf-8'>
           <label id='storytitle'>
             Title:
             <input type='text' placeholder='Title' name='title' maxlength='30' required>
           </label>
           <label>
             <textarea id="story" placeholder='Start your story here!' name='story' required></textarea>
             <button id="check-story">Check Spelling</button>
             <div id="spelling-result"></div>
           </label>
<script type="text/javascript">
var button = $('#check-story');
button.click(function() {
    var story = $('#story');

    $.ajax('/spellcheck', {
            type: 'POST',
            data: {
                text: story.attr('value')
            },
            success: function(value) {
                if (typeof value == 'string') {
                    value = JSON.parse(value);
                }
                var html = "";
                for (var k in value) {
                    html += '<dt>' + k + '</dt><dd>';
                    for (var i in value[k]) {
                        html += "<a href='#'>" + value[k][i] + "</a>";
                    }
                }
                if (!html) {
                  html = "<p>Your spelling is correct!</p>";
                } else {
                  html = "<dl class='spelling'>" + html + "</dl>";
                }
                $('#spelling-result').html(html);
            }
    });
    return false;
});

var replace_word = function(from, to) {
    $('#story').val($('#story').val().replace(from, to));
};

$(document).on('click', '.spelling dd a', function(event) {
    var to = $(event.target).html();
    var from = $(event.target).closest('dd').prev().html();
    replace_word(from, to);
    $(event.target).closest('dd').hide();
    $(event.target).closest('dd').prev().hide();
});
</script>
                <label>
                    Challenge Rules:
                    <select name='rule'>
                        <option value='no_rules'>
                            No Rules
                        </option>
                        <option value='max_num_words'>
                            Maximum of 'X' words per submission.
                        </option>
                        <option value='include_number_words'>
                            'X word' to be used every 'Y' words.
                        </option>
                        <option>
                            Rule 3
                        </option>
                    </select>
                    <br>
                </label>
                <label>
                    <textarea placeholder="Make some comments to help users know what to write .." name='comment' required></textarea>
                </label>
                <input type='submit' value='Create a Story!' autocomplete='off'>
            </div>
        </form>
    </div>
{% else %}
    <div class="main-single">
        <p>You need to be logged in to create a new story. <a href="/register">Register now!</a></p>
    </div>
{% endif %}
{% include "footer.html"%}                   
