{% include "templates/header.html" %}
{% if user is not None %}
<div class="main-right">
    <a href="/user/{{ user.username }}">
        <span id='profileimg'>
            <img src='{% gravatar user.email %}'>
        </span>
    </a>
    <span>
        <h2> 
            {{ user.username }} 
        </h2>
    </span>
</div>
<div class="main-left">
    <div>
        <strong>Name: </strong> {{ user.fname }} {{ user.lname }}<br />
        <strong>DOB: </strong> {{ '/'.join(user.dob.split(' ',1)[0].split('-')[::-1]) }}<br />
        <strong>Email: </strong> {{ user.email }}<br />
        <strong>Location: </strong> {{ user.location }}<br/>
        <strong>Bio: </strong> {{ user.bio }}<br />
        
        {% if current_user is not None and current_user.username == user.username %}
        <input type='button' id='hidepass' value='Change Password'>
        <script src='/static/js/hidepasswordchange.js'></script>
        <div id='changepass' style='display:none;'>
            <p><form action='/changepassword' method="POST">
                <label>Old password:
                    <input type='password' name='old password'>
                </label>
                <p><label>New password:
                    <input type='password' name='new password 1' id="pwchange">
                </label>
                <p><label>New password:
                    <input type='password' name='new password 2' id="pwchangerepeat">
                </label>
                <p><input type='submit' value='Submit'>
            </form>
        </div>
        {% endif %}
    </div>
    <div>
        <span>
            <h2> 
                {# current_user.username #}
            </h2>
        </span>
        <div>
            <span> 
                <!-- Name: --> {# current_user.fname #} {# current_user.lname #}
            </span>
            <span> 
                <!--Age: {# user.age #}
            </span>
            <span> 
                Location: {# user.location #}
            </span>
            <span> 
                TimeZone: {# user.timezone #}
            </span>
            <span>
                Bio: {# user.bio #}
            </span>-->
        </div>
    </div>
<script>
$(function (){
    validate_passwords('pwchange', 'pwchangerepeat');
})
</script>
{% endif %}
{% include "templates/footer.html"%}
