{% include "templates/header.html" %}
{% if user is not None %}
<div class="main-right">
    <a href="/user/{{ user.username }}">
        <span id='profileimg'>
            <img src='{% gravatar user.email %}'>
        </span>
    </a>
    <span>
        <h2> 
            {{ user.username }} 
        </h2>
    </span>
</div>
<div class="main-left">
    <div>
        <strong>Name: </strong> {{ user.fname }} {{ user.lname }}<br />
        <strong>DOB: </strong> {{ '/'.join(user.dob.split(' ',1)[0].split('-')[::-1]) }}<br />
        <strong>Email: </strong> {{ user.email }}<br />
        <strong>Location: </strong> {{ user.location }}<br/>
        <strong>Bio: </strong> {{ user.bio }}<br/>
        <strong>Paragraphs Written: </strong> {{user.get_number_of_paragraphs_approved()}} <br />
        <strong>Stories Started: </strong> {% if not user.get_stories() %}no stories submitted{% endif %}
	{% if current_user is not None and current_user.username == user.username and current_user.admin_level != 0 %}
        <br/><strong>Admin level:</strong> {{ user.admin_level }}
	{% endif %}
	<ul>
        {% for story in user.get_stories() %} 
           <li><a href="/view_story/{{story.id}}">{{story.title}}</a></li>
        {% endfor %}
        </ul>
        {% if current_user is not None and current_user.username == user.username %}
        <input type='button' id='hidepass' value='Change Password'>
        <script src='/static/js/hidepasswordchange.js'></script>
        <div id='changepass' style='display:none;'>
            <form id='change-password-form' action='/changepassword' method="POST">
                <label>Old Password:
                    <input type='password' name='old password' id="oldpw">
                </label>
                <label>New Password:
                    <input type='password' name='new password 1' id="pwchange">
                </label>
                <label>New Password Repeat:
                    <input type='password' name='new password 2' id="pwchangerepeat">
                </label>
                <input type='submit' value='Submit'>
            </form>
            <div id="change-password-output">
            
            </div>
        </div>
        {% endif %}
    </div>
    <div>
        <span>
            <h2> 
                {# current_user.username #}
            </h2>
        </span>
        <div>
            <span> 
                <!-- Name: --> {# current_user.fname #} {# current_user.lname #}
            </span>
            <span> 
                <!--Age: {# user.age #}
            </span>
            <span> 
                Location: {# user.location #}
            </span>
            <span> 
                TimeZone: {# user.timezone #}
            </span>
            <span>
                Bio: {# user.bio #}
            </span>-->
        </div>
    </div>
<script>
$(function (){
    validate_passwords('pwchange', 'pwchangerepeat');
    $("#change-password-form").submit(function(event) {
        event.preventDefault();
        $this = $("#change-password-form");
        
        $.get("/changepassword", {
            "old_password": $("#oldpw").val(),
            "new_password_1": $("#pwchange").val(),
            "new_password_2": $("#pwchangerepeat").val()
        }, function(data) {
            $("#change-password-output").html(data);
        }, "html");
        return false;
    });
})
</script>
{% endif %}
{% include "templates/footer.html"%}
