{% include "header.html"%}
<div class="main-single">
    <h2>
        User Profiles
    </h2>
</div>
<div class="main-right">
    <form id='usersearchbox' method="POST">
        <input type ='search' name='profilequery' placeholder='Search'>
        <input type='submit' value='Search'>
    </form>
</div>
<div class="main-left">
    <table id='usertable'>
        <tr>
            <th>
                Profile Pic
            </th>
            <th>
                Username
            </th>
            <th>
                Paragraphs Written
            </th>
            <th>
                Stories Started
            </th>
        </tr>
    {% for user in users %}
        <tr id="user_row">
            <td>
                <a href="/user/{{ user.username }}">
                    <span id='profileimg'>
                        <img height="30" width="30" src='{% gravatar user.email %}'>
                    </span>
                </a>
            </td>
            <td>
                <a href="/user/{{ user.username }}">
                {{ user.username }}
                </a>
            </td>
            <td>
                {{user.get_number_of_paragraphs_approved()}}
            </td>
            <td>
                {{user.get_number_of_stories()}}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% include "footer.html"%}