{% include "header.html"%}
<div>
    <h2>
        User Profiles
    </h2>
    <div>
        <form id='searchbox' method="POST">
            <input type ='search' name='profilequery' placeholder='Search'>
            <input type='submit' value='Search'>
        </form>
    </div>
    <table>
        <tr>
            <th>
                Profile Pic
            </th>
            <th>
                Username
            </th>
            <th>
                Paragraphs Written
            </th>
            <th>
                Stories Started
            </th>
            <th>
                Options
            </th>
        </tr>
    {% for user in users %}
        <tr id="user_row">
            <td>
                <a href='http://en.gravatar.com/'>
                    <span id='profileimg'>
                        <img src='{% gravatar user.email %}'>
                    </span>
                </a>
            </td>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{user.get_number_of_paragraphs_approved()}}
            </td>
            <td>
                {{user.get_number_of_stories()}}
            </td>
            <td>
                <a href="/user/{{ user.username }}">
                View Profile
                </a>
            <td>
        </tr>
    {% endfor %}
    </table>
</div>
{% include "footer.html"%}