{% include "header.html" %}
<span>
    <h2>
        Registration
    </h2>
</span>
<div>
    <form action="/process_register" method="POST">
        <label>
            First Name:
            <input type='text' name='fname'>
        </label><br />
        <label>
            Last Name:
            <input type='text' name='lname'>
        </label><br />
        <label>
            Username:
            <input type='text' name='username'>
        </label><br />
        <label>
            Password:
            <input type='password' name='password'>
        </label><br />
        <label> 
            Repeat Password:
            <input type='password' name='rpassword'>
        </label><br />
        <label>
            Email:
            <input type='text' name='email'>
        </label><br />
        Date of birth. 
        <label>
            Year:
            <select name='birthyear'>
                {% for year in range(1913, 2014) %}
                    <option>{{ year }}</option>
                {% endfor %}
            </select>
        </label><br />
        <label>
            Month: 
            <select name='birthmonth'>
                {% for month in range(1, 13) %}
                    <option>{{ month }}</option>
                {% endfor %}
            </select>
        </label><br />
        <label>
            Day:
            <select name='birthday'>
                {% for day in range(1, 32) %}
                    <option>{{ day }}</option>
                {% endfor %}
            </select>
        </label><br />
        <label>
            Location:
            <input type='text' name='location'>
        </label><br />
        <label>
            Bio:
            <textarea name='bio'>
            </textarea>
        </label><br />
        <label>
            <input type="submit" value="Register">
        </label>
    </form>
</div>
{% include "footer.html" %}
        