{% include "header.html" %}
<div class="main-single">
    <h2>
        Registration
    </h2>
</div>
<div class="main-left">
    <form action="/process_register" method="POST" autocomplete="off" id="register-form">  
        <label>
            First Name:
            <input type='text' name='fname' maxlength='30'>
        </label>
        <label>
            Last Name:
            <input type='text' name='lname' maxlength='30'>
        </label>
        <label>
            Username:
            <input type='text' name='username' required id='uname' maxlength='15'> 
        </label> The username must be at least three letters or numbers and no more than 15.
        <label>
            Password:
            <input type='password' name='password' required id='password-initial' title='Passwords do not match!'>
        </label>
        <label> 
            Repeat Password:
            <input type='password' name='rpassword' required id='rpassword'>
        </label>
        <label>
            Email:
            <input type='email' name='email' required>
        </label>
        <label>
        Date of birth. 
            <input type="date" name="bday">
        </label>
        <label>
            Location:
            <input type='text' name='location' maxlength='30'>
        </label>
        <label>
            Tell us about yourself:<br>
            <textarea name='bio' maxlength='500'></textarea>
        </label>
        <label>
            <input type="submit" value="Register">
        </label>
    </form>
    
</div>
<div class="main-right">
        <div class="error-message">
        </div>
</div>
<script>
$(function (){
    validate_passwords('password-initial', 'rpassword');
    validate_form($("#register-form"), $('#register-form .error-message'));
    validate_username('uname');
})
</script>
{% include "footer.html" %}
        
