<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form action="/process_register" method="POST">
        	<label>First name: <input type="text" id="firstname" name="firstname"></label><br />
        	<label>Last name: <input type="text" id="lastname" name="lastname"></label><br />
            <label>Username: <input type="text" id="username" name="username"></label><br />
            <label>Password: <input type="password" id="password" name="password"></label><br />
            <label>Repeat Password: <input type="password" id="rpassword" name="rpassword"></label><br />
            <input type="submit">
        </form>
    </body>
</html>