{% include "header.html"%}
<div class="main-left">
    <h2>
        Current Stories
    </h2>
    <table id='storytable'>
        <tr>
            <th>
                Story Title
            </th>
            <th>
                Story Likes
            </th>
            <th>
                Story Views
            </th>
            <th>
                Options
            </th>
        </tr>
    {% for story in stories %}
        <tr id='story_row'>
            <td>
                {{ story.title }}
            </td>
            <td>
                {# story.likes #}
            </td>
            <td>
                {# story.views #}
            </td>
            <td>
                <a href="view_story/{{ story.id }}">View Story</a>             
            </td>
        </tr>
    {% endfor %}

    </table>
</div>
<div class="main-right">
    <div>
        <form id='storysortbox'>
            <select name='sort'>
                <option>
                    Title: A-Z
                </option>
                <option>
                    Title: Z-A
                </option>
                <option>
                    Most Likes
                </option>
                <option>
                    Most Views
                </option>
            </select>
            <input type='submit' value='Sort'>
        </form>
        <form id='storysearchbox' method="POST">
            <input type ='search' name='storyquery' placeholder='Search'>
            <input type='submit' value='Search'>
        </form>
    </div>
</div>
{% include "footer.html"%}