{% include "header.html"%}
<div>
    <h2>
        Current Stories
    </h2>
    <div>
        <form id='storysortbox'>
            <select name='sort'>
                <option>
                    Title: A-Z
                </option>
                <option>
                    Title: Z-A
                </option>
                <option>
                    Most Likes
                </option>
                <option>
                    Most Views
                </option>
            </select>
            <input type='submit' value='Sort'>
        </form>
        <form id='searchbox'>
            <input type ='search' name='storyquery' placeholder='Search'>
            <input type='submit' value='Search'>
        </form>
    </div>
    <table>
        <tr>
            <th>
                Story Title
            </th>
            <th>
                Story Likes
            </th>
            <th>
                Story Views
            </th>
            <th>
                Options
            </th>
        </tr>
    {% for story in stories %}
        <tr id='story_row'>
            <td>
                <a href="view_story/{{ story.id }}">{{ story.title }}</a>
            </td>
            <td>
                {# story.likes #}
            </td>
            <td>
                {# story.views #}
            </td>
            <td>
                {% if current_user is None %}
                <a href="/story/view?id={#story.id#}">
                View Story
                </a>
                {% else %}
                <a href="/story/contribute?id={#story.id#}">
                Add to story
                </a>
                <br>
                <a href="/story/view?id={#story.id#}">
                View Story
                </a>
                {% endif %}                
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% include "footer.html"%}