{% include "header.html"%}
<div class="main-left">
    <h2>
        Current Stories
    </h2>
    {% if stories %}
    {% ifdef query %}{% if query %}<h4>Results for "{{ query }}"</h4>{% endif %}{% endif %}
    <table id='storytable'>
        <tr>
            <th>
                Story Title
            </th>
            <th>
                Story Likes
            </th>
            <th>
                Options
            </th>
        </tr>
        {% for story in stories %}
            <tr id='story_row'>
                <td>
                    {{ story.title }}
                </td>
                <td>
                    {# story.likes #}
                </td>
                <td>
                    <a href="view_story/{{ story.id }}">View Story</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h4>No stories matched the search query "{{ query }}"</h4>
    {% endif %}
</div>
<div class="main-right">
    <div>
        <form id='storysortbox'>
            <select name='sort'>
                <option>
                    Title: A-Z
                </option>
                <option>
                    Title: Z-A
                </option>
                <option>
                    Most Likes
                </option>
            </select>
            <input type='submit' value='Sort'>
        </form>
        <form id='storysearchbox' method="POST">
            <input type ='search' name='storyquery' placeholder='Search'>
            <input type='submit' value='Search'>
        </form>
    </div>
</div>
{% include "footer.html"%}
