{{ user }}'s Page:

I have {{ len(friends) }}:
<ul>
	{% for friend in friends %}
	<li>
		{{friend}}
		{% if len(friend) > (1000//160) %}
			(that's a really long name!)
		{% else %}
			(poor effort of a name)
		{% endif %}
	</li>
	{% endfor %}
</ul>


<img src="{% gravatar 'jack.thatch@gmail.com' %}"/>

{{ "This is <b> escaped </b> html by default." }}
{% safe "<marquee> This is unescaped html! </marquee>" %}

{% exec myvar = 'I exist!' %}
{% ifdef myvar then myvar = "I'm a variable!" %}
{{myvar}}
{% ifndef myvar then myvar = "I don't exist!" else myvar = "I exist!" %}

{% ifdef im_not_defined %}
	WRONG
{% else %}
	RIGHT
{% endif %}

{% ifdef myvar %}
	RIGHT
{% endif %}

{% ifndef myvar %}
	WRONG
{% else %}
	RIGHT
{% endif %}

{# this is a comment! #}
{# I could {% include "footer.html" %} if I wanted to! #}