{% include "header.html"%}
<div class='main-left'>
    <h2>{{ story.title }}</h2>
    <h3>Created By {{ author.username }}</h3>
    <p>{{ story.author_init_comment }}</p>
<!-- This is where the rules for the story should go -->
    {% for paragraph in story.get_approved_paragraphs() %}
        {% exec pauthor = paragraph.get_author() %}
        <p>{{ paragraph.content }} {% if pauthor %} - {{ pauthor.username }} {% endif %}</p>
    {% endfor %}
    {% if current_user is not None %}
    <form id='storyadd' action="/add_to_story/{{ story.id }}" method="POST">
        <textarea name='paragraph' placeholder='Add to the story!'></textarea><br>
        <input type='submit' value='Submit'>
    </form>
    </div>
    <div class='main-right'>
        <input type='button' id='hidecomment' value='Leave a comment'>
        <script src='/static/js/hidecomment.js'></script>
        <form id='comment' style='display:none;'>
            <textarea name='commentbox' placeholder='Comment'></textarea>
            <br>
            <input type='submit' value='Post'>
        </form>
    </div>
    {% else %}
    <span> Please log in to add to the stories and comment. </span>
    {% endif %} 
    <div>
        <table border='1'>
        {% for comment in story.get_comments() %}
            <tr>
                <td>
            {{comment.get_author().username}}
                </td>
                <td>
            {{comment.content}}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
                
{% include "footer.html" %}